Repository pinterest/iceberg, pull requests merged in 2022-10, with the labels that each got.

#14 [python_legacy] BOTO_STS_CLIENT lazy init
  python_legacy/iceberg/core/filesystem/s3_filesystem.py
Labels: PYTHON

#18 [backport from upstream] Python: BOTO_STS_CLIENT lazy initialization (#5930)
  python_legacy/iceberg/core/filesystem/s3_filesystem.py
Labels: PYTHON

#20 [backport from Pinterest branch][python_legacy] release python_legacy as py-iceberg (#5) (#8)
  .github/workflows/python-legacy-ci.yml
  python_legacy/setup.py
Labels: PYTHON, INFRA

#16 Support 2-level list and maps type in RemoveIds.
  parquet/src/main/java/org/apache/iceberg/parquet/RemoveIds.java
Labels: PARQUET
