Repository pinterest/iceberg, pull requests merged in 2023-01, with the labels that each got.

#21 [python_legacy] support check partition exist api
  python_legacy/iceberg/core/base_table_scan.py
  python_legacy/iceberg/core/data_table_scan.py
Labels: PYTHON

#23 Handle enums in parquet conversions
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetConversions.java
Labels: PARQUET

#24 Allow ignoring field ids from parquet files in add files APIs
  core/src/main/java/org/apache/iceberg/TableProperties.java
  data/src/main/java/org/apache/iceberg/data/TableMigrationUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
Labels: PARQUET, SPARK, CORE, DATA

#25 [Spark] Remove sorts from delete from queries reading just one partition and already sorted data.
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
Labels: SPARK, CORE

#26 Handle thrift schema backed table reads in vectorized reader
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
Labels: SPARK

#27 Use PEP 440 compatible version specifiers
  python_legacy/setup.py
Labels: PYTHON
