Repository pinterest/iceberg, pull requests merged in 2023-06, with the labels that each got.

#50 Handle thrift schema backed table reads in vectorized reader
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
Labels: SPARK

#51 [Iceberg thrift] set IGNORE_PARQUET_FIELD_IDS for unpartitioned table importing (#29)
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: SPARK

#52 [Iceberg thrift] support case insensitive id assignment for thrift backed Iceberg Parquet table (#28)
  parquet/src/main/java/org/apache/iceberg/parquet/ApplyNameMapping.java
  parquet/src/main/java/org/apache/iceberg/parquet/ApplyNameMappingCaseInsensitive.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetSchemaUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ReadConf.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetSchemaUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
Labels: PARQUET, SPARK

#53 Handle enums in parquet conversions
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetConversions.java
Labels: PARQUET

#55 AWS: Fix Tests3RestSigner on OSX (#7742)
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
Labels: AWS

#56 Bump pinspark version
  spark/v3.2/build.gradle
Labels: SPARK, BUILD
