Repository pinterest/iceberg, pull requests merged in 2023-02, with the labels that each got.

#29 [Iceberg thrift] set IGNORE_PARQUET_FIELD_IDS for unpartitioned table importing
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: SPARK

#28 [Iceberg thrift] support case insensitive id assignment for thrift backed Iceberg Parquet table
  parquet/src/main/java/org/apache/iceberg/parquet/ApplyNameMapping.java
  parquet/src/main/java/org/apache/iceberg/parquet/ApplyNameMappingCaseInsensitive.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetSchemaUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ReadConf.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetSchemaUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
Labels: PARQUET, SPARK

#32 [backport] Build: Let revapi compare API compatibility against apache-iceberg-1.0.0 (#6053)
  .github/workflows/api-binary-compatibility.yml
  .palantir/revapi.yml
  build.gradle
Labels: INFRA, BUILD

#31 [backport] Spark 3.2: Add prefix mismatch mode for deleting orphan files (#4652)
  api/src/main/java/org/apache/iceberg/actions/DeleteOrphanFiles.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SetAccumulator.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: SPARK, API

#34 [Python Legacy] Convert string to boolean if the binding variable is Boolean
  python_legacy/iceberg/api/expressions/literals.py
  python_legacy/tests/api/expressions/test_string_literal_conversions.py
Labels: PYTHON
